.siteLinks {
  list-style-type: none;
}

.siteLinks>li {
  padding: 40px;
}

.navContainer {
  margin: 20px;

}

.logoImage {
  width: 32px;
}

.logoWrapper {
  list-style-type: none;
  column-count: 2;
}

.sidebarWrapper {
  padding: 20px !important;
  border: 2px solid black;
}

.footerWrapper {
  margin-top: calc(5% + 100px);
  bottom: 0;
}